<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
        <form action="/addtask" method="post">
            <div class="enter">
                <input type="text" class="input" name="task" required>
                <button type="submit" class="addbtn">Add</button>
            </div>
        </form>
      
        <div class="list">
            <ul>
                <% if (tasks.length === 0) { %>
                    <li>No tasks added yet.</li>
                <% } else { %>
                    <% tasks.forEach(function(task) { %>
                        <li>
                            <form action="/removetask" method="post">
                                <%= task.task %>
                                <input type="hidden" name="taskId" value="<%= task._id %>">
                                <button type="submit">Remove</button>
                            </form>
                        </li>
                    <% }); %>
                <% } %>
            </ul>
        </div>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>
